<footer class="container-fluid text-white py-5" style="background: url('img/Rectangle.png') center/cover no-repeat">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <p class="mb-1">ZA – 1 impasse de la Chevru<br />25750 ARCEY</p>
        <p class="mb-1">Téléphone : 03.81.90.38.90</p>
        <p class="mb-0">e-mail : fjfautomobiles@sfr.fr</p>
      </div>

      <div class="col-md-4 d-flex flex-column align-items-center mb-4">
        <img src="img/FJFlogoblanc.png" class="img-fluid mb-3" alt="FJF Logo" style="max-height: 80px" />
      </div>

      <div class="col-md-4 mb-4 text-center">
        <p class="mb-1">Lundi au Vendredi</p>
        <p class="mb-1">De 8h 12h à 13h30 18h</p>
        <p class="mb-0">Samedi/Dimanche Fermé</p>
      </div>
    </div>

    <div class="container mt-auto pt-3 border-top border-light">
      <div class="text-center">
        <small class="text-white">© FJF Garage 2026 • <a href="#" class="text-white text-decoration-none">Mentions légales</a> • <a href="#" class="text-white text-decoration-none">Politique de confidentialité</a></small>
      </div>
    </div>
  </div>
</footer>
