<header class="topbar py-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-auto">
        <a href="index.html">
          <img src="img/FJFlogo.png" class="logo" alt="FJF Automobiles" />
        </a>
      </div>

      <div class="col d-flex justify-content-center">
        <nav class="d-flex align-items-center" aria-label="Navigation principale">
          <a href="index.html" class="nav nav-link-top nav-item-box">Accueil</a>
          <a href="prestations.html" class="nav nav-link-top nav-item-box">Prestations</a>
          <a href="apropos.html" class="nav nav-link-top nav-item-box">À propos</a>
          <a href="Rendez-vous.html" class="btn-rdv text-white nav-link-top nav-item-box">Rendez-vous</a>
          <a href="Espaceclients.html" class="nav-link-top nav-item-box">Espace clients</a>
        </nav>
      </div>
    </div>
  </div>
</header>
