@import "css/utils/variables.css";
@import "css/base/main.css";
@import "css/layout/header.css";
@import "css/layout/footer.css";
@import "css/components/hero.css";
@import "css/components/bodytext.css";
@import "css/components/pagerdv.css";
@import "css/components/prestation.css";
@import "css/components/apropos.css";
@import "css/components/avis.css";