.logo {
  height: 55px;
}

.nav-link-top {
  color: black;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
  font-size: large;
}

.nav-link-top:hover {
  color: #fff;
  background-color: #50514d;
}

.nav-link-top.active {
  color: white;
  background-color: #DE0E1E;
}

.topbar {
  width: 100%;
}

.nav-item-box {
  padding: 8px 30px;
  transition: background-color 0.2s ease;
}

.nav-item-box:hover {
  background-color: #50514d;
}

.img-ou {
    width: 60px;
    padding: 20px 0;
}