body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.btn-rdv {
  background-color: #de0e1fca;
  color: white;
  font-size: large;
  border-style: none;
}

.btn-rdv:hover {
  background-color: #DE0E1E;
}

.validbutton {
  padding: 6px 30px;
  border-color: #DE0E1E;
  background-color: #ffffffb1;
}

.validbutton:hover {
background-color: #DE0E1E;
border-color: white;
color: white;
}

.h1{
 font-size: 40px;
  font-family: "Montserrat", sans-serif;

}

.h2{
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

.h3{
  font-family: "Montserrat", sans-serif;

}