.img-avis{
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px #DE0E1E;
}

.card-avis{
    padding: 1.5em .5em .5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px #DE0E1E;
}

.card-title-avis{
    font-weight: 700;
    font-size: 1.5em;
}