.hero_background {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.42) 80%, rgba(0, 0, 0, 0.77) 100%), url(/img/pissta-crop.jpg) center center; 
  background-size: cover;
}

.texte-zone{
  padding: 10px 5px;
  background-color: #ecececdf;
  border-style: solid;
}

.texte-zone:hover::placeholder{
color: rgb(0, 0, 0);
}

.rdv_text{
  font-size: xx-large;
}