.card_presta .icon {
  font-size: 3rem;
  color: lightseagreen;
}

.card-text_presta {
  color: gray;
}

.card_presta {
  transition: all 0.5s;
}

.card_presta:hover {
  background-color: #DE0E1E;
  color: #fff;
}

.card_presta:hover .icon,
.card_presta:hover .text_rouge,
.card_presta:hover .card-text_presta {
  color: #fff;
}
